@import "tailwindcss";

@theme {
  /* Konfigurasi Warna Bioteknologi */
  --color-biotech-primary: #1e4d2b;
  --color-biotech-secondary: #4a7c59;
  --color-biotech-accent: #f3a81a;
  --color-biotech-bg: #f0fdf4;

  /* Konfigurasi Font */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}